#name{
  color:red;
}
#email{
  color:blue;
}
#summary{
  color: brown;
}

div{
  text-align:center;
}

img{
  height:25%;
  width:25%;
  display: block;
  margin:auto;
}

body{
  background-color: gray;
}